.page-header{
  @extend .d-flex;
  //display: flex;
}
.page-title{
  width: 350px;
  flex: 0 0 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.page-sub-header{
  padding: rem(9px 16px);
  box-shadow: $sub-header-box-shadow;
}
