/* left nav variables */
$sidenav-link-over: #29ABE2;

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 0;
  transition: 0.5s;

  > .list-group {
    > li {
      padding-left: 0;
      padding-right: 0;
      > a {
        line-height: rem(30px);
        &.active {
          background-color: transparent;
          color: $sidenav-link-over;
        }
      }
    }
    .subnav {
      padding-left: rem(20px);
      li {
        list-style: none;
        a {
          font-size: rem(12px);
          line-height: rem(30px);
          position: relative;

          &.active {
            i {
              @extend .icon;
              font-size: rem(10px);

              &:before {
                content: "";
                position: absolute;
                margin-left: -10px;
                top: 0;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }

  a {
    color: $page-heading-color;
    padding: 0;
    text-decoration: none;
    font-size: rem(14px);
    display: block;
    transition: 0.3s;
    &:hover {
      color: $sidenav-link-over;
    }
  }
}

.social-footer {
  ul {
    padding-left: 0;
    li {
      list-style: none;

      i {
        color: $page-heading-color;
      }
    }
  }
}