.custom-form-control {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  line-height: 46px;
  padding: 0.375rem 1.5rem;
}

.custom-icon {
  font-weight: bolder;
  font-size: larger;

  position: absolute;
  right: 5px;
  top: 8px;
  padding: 9px 8px;
  transition: 0.3s;
}
