.image-dragger-box{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 183px;
  border: 2px dashed #999999;
  border-radius: 3px;
}

.image-dragger-box .button-browse{
    border-radius: 23px;
}