.org-details-container {
  background-color: $org-detail-bg;

  .list-group-item {
    &:hover {
      .action-icons {
        display: block;
      }
    }
    // .action-icons {
    //   transition: ease all .3s;
    //   display: none;
    //   &.active{
    //     display: block;
    //   }
    // }
  }
}

.cursor-pointer { 
  cursor: pointer;
}

.action-icons {
  list-style:none;
  position: absolute;
  top:0;
  right:0;

  li {
    float: left;
    display: inline-block;

    + li {
      margin-left: 10px;
    }
  }
}

.readOnlyTextarea{
  background-color: #EBEBEC;
  padding: 0.375rem 0.875rem;
  background-clip: padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 0.25rem;
  line-height: 1.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #9C9C9C;
}

.org-tag{
  &.orange{
    border-color: #ffc107
  }
  &.green{
    color: #29950E    //normal priority
  }
  &.red{
    color: #D0021B     //high priority
  }
  .org-tag-footer{
    padding: 0.1em 0em;
    background-color: #ffc107
  }
}