.progress-index-modal {
  h5.modal-title {
    font-size: rem(24px);
  }
}
.progress-index-options {
  h3 {
    font-weight: 500;
  }
  .custom-checkbox {
    font-size: rem(14px);
    margin: 10px 0;
  }
}