.program-details-container {
  background-color: $org-detail-bg;

  .list-group-item {
    .action-icons {
      transition: ease all 0.3s;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.disabled-text {
  background-color: #ebebec;
  color: #9c9c9c;
}
.action-icons {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;

  li {
    float: left;
    display: inline-block;

    + li {
      margin-left: 10px;
    }
  }
}

.footer-actions {
  display: none;
  &.active {
    display: flex;
  }
  & > :not(:last-child) {
    margin-right: 0.25rem;
  }
  & > :not(:first-child) {
    margin-left: 0.25rem;
  }
}
