.app-breadcrumb{

    //font-size: 0.8rem;

    .breadcrumbs__crumb{
        background-color: transparent;
        padding: 0.25rem 0.25rem;
        margin-bottom: 0.25rem;

        &.breadcrumbs__crumb--active {
            color: $primary
        }
    }
}