.profilePhoto{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 183px;
    border: 2px dashed #999999;
    border-radius: 3px;
}

.statusCircle{
    width: 10px;
    height: 10px;
    padding: 5px;
    background-color: #999;
    border-radius: 5px;
    
    &.active {
        background-color: #33c533;
    }
}