::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
::-moz-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
:-moz-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}

input {
  font-family: 'Fira Sans', sans-serif;;
}

.search {
  >.form-control{
    font-weight: 300;
    font-size: 14px;
    border-radius: 24px;
    line-height: 26px;
    min-width: 324px;
    background-color: $search-input-bg;
  }
}

.search-input-group{
  position: relative;
  margin-bottom: 0;

  &:before{
    @include icon-search();
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
    color: $gray-500;
  }

  >.form-control{
    padding-left: rem(34px);
  }

}


.form-label{
  color: $input-label-color;
}

.form-control {

}


//Custom Select
.custom-select{
  font-weight: 300;

}

//Textarea Resize Disable
textarea {
  resize: none;
  width: 100%;
}