.card-login ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
.card-login ::-moz-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
.card-login :-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}
.card-login :-moz-placeholder {
  text-transform: uppercase;
  font-weight: 300;
}

::-webkit-input-placeholder {
  font-weight: 300;
}
::-moz-placeholder {
  font-weight: 300;
}
:-ms-input-placeholder {
  font-weight: 300;
}
:-moz-placeholder {
  font-weight: 300;
}

input {
  font-family: 'Fira Sans', sans-serif;;
}

.search {
  >.form-control{
    font-weight: 300;
    font-size: rem(14px);
    border-radius: rem(24px);
    line-height: rem(26px);
    min-width: 324px;
    background-color: $search-input-bg;
  }
}

.search-input-group{
  position: relative;
  margin-bottom: 0;

  &:before{
    @include icon-search();
    position: absolute;
    left: rem(12px);
    top: 50%;
    transform: translate(0, -50%);
    color: $gray-500;
  }

  >.form-control{
    padding-left: rem(34px);
  }
}

.form-control {
  line-height: rem(26px);
  font-size: rem(14px);
  font-weight: 400;
  color: $body-color;
}

.form-label{
  color: $input-label-color;
}

.form-group {
  margin-bottom: rem(22px);
  label {
    color: $page-heading-color;
    font-size: rem(14px);
  }
}


//Custom Select
.custom-select{
  font-weight: 300;
}

//Textarea Resize Disable
textarea {
  resize: none;
  width: 100%;
}