html{
  @include rem-baseline;
}

html, body {
  min-height: 100vh;
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: auto;
  // overflow: hidden;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  *:focus, *.focus{
    box-shadow: none;
    outline: 0;
    /* or */
    outline: none;
  }
}

footer {
  height: 50px;
  background-color: #F5F5F6;
}

h3 {
  font-size: rem(14px);
}
p {
  font-size: rem(13px);
  line-height: rem(20px);
}

.template{
  overflow: auto;
}

.section-title {
  color: $page-heading-color;
  font-size: rem(17px);
}

//main-content
.container {
  min-width: 1200px !important;
}
.main-content{
  display: flex;
  flex: 1 1 100%;
}

[role="main"] {
  padding-top: 90px;
}

[role="main-kustom"] {
  padding-top: 65px;
}

.bg-dark {
  background-color: #4D4D4D !important;
}

.main-nav{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: 1030;
}