.overflow-scroll{
  overflow: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

//Font
.f-36{
  font-size: rem(36px) !important;
}
.f-18{
  font-size: rem(18px) !important;
}

.f-16{
  font-size: rem(16px) !important;
}

.f-14{
  font-size: rem(14px) !important;
}
.f-13{
  font-size: rem(13px) !important;
}
.f-12{
  font-size: rem(12px) !important;
}
.f-10{
  font-size:rem(10px) !important;
}
